<%- include("partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "styles/main.css">
    <title>Document</title>
</head>
<body>
  <form class="row g-3 px-4" action="/result" method="POST">
    <!-- Task information -->

    <!-- The outermost div as a container -->
    <div id="tasks">
        <!-- The task  -->
        <div class="task">
            <p class="title">Task 1</p>
            <div class="row">
              <div class="col">
                <input type="text" name="task_name" class="form-control" placeholder="Task name..." required>
              </div>
              <div class="col">
                <input type="number" name="task_weight" class="form-control" placeholder="Task weight..." required>
              </div>
              <div class="col">
                <input type="number" name="task_time" class="form-control" placeholder="Time to complete..." required>
              </div>
            </div>
        </div>
    </div>
    
    <div class="col">
      <input type="number" name="total_time" class="form-control" placeholder="Total time to spend..." required>
    </div>
    <!-- Add task button -->
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" onclick="addTask()" class="btn btn-primary">Add Task</button>
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </form>


  <script>
    function addTask(){
      // The outermost div as a container
      var container = document.getElementById('tasks');
      // Create a new div
      var newTask = document.createElement('div');
      // Assign a class to the div
      newTask.classList.add(`task`);
      newTask.innerHTML = `
      <p class="title">Task ${container.children.length + 1}</p>
      <div class="row">
        <div class="col">
          <input type="text" name="task_name" class="form-control" placeholder="Task name..." required>
        </div>
        <div class="col">
          <input type="number" name="task_weight" class="form-control" placeholder="Task weight..." required>
        </div>
        <div class="col">
          <input type="number" name="task_time" class="form-control" placeholder="Time to complete..." required>
        </div>
      </div>
      `;
      container.appendChild(newTask);
    }
  </script>
</body>
</html>